HOST=0.0.0.0
PORT=8090

PB_DATA=/app/pb_data
PB_PUBLIC=/app/pb_public
PB_HOOKS=/app/pb_hooks
PB_MIGRATIONS=/app/pb_migrations

# Both of these need to be set for the superuser to be automatically created
PB_ADMIN_EMAIL=
PB_ADMIN_PASSWORD=
